body {
  padding: 0;
  margin: 2rem;
  margin-top: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(87, 170, 39);
}
.navBar {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  width: 50%;
}
#license {
  justify-self: center;
  align-self: center;
}
#searchBar {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-bottom: 1.5rem;
  min-width: 100%;
  max-width: 100%;
}
#validSearchCount {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  min-width: 17.5%;
}
#search {
  justify-self: center;
  align-self: center;
  padding: 1rem;
  font-size: 1.2rem;
  min-width: 77.5%;
  max-width: 77.5%;
}
#selectInput {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 100%;
}
#episodeSelector {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 1.7rem;
  font-size: 1.2rem;
  color: rgb(117, 116, 116);
  width: 30rem;
  min-width: 90%;
}
#showSelect {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: 6.7rem;
  padding-left: 1.6rem;
  font-size: 1.2rem;
  color: rgb(117, 116, 116);
  justify-self: center;
  align-self: center;
  margin-bottom: 1.5rem;
  min-width: 100%;
}
#svgIcon {
  max-height: 50px;
  width: auto;
  justify-self: center;
  align-self: center;
  margin-left: 1.2rem;
  background-color: white;
  border-radius: 1.5rem;
  padding: 0.5rem;
}
#svgIcon:hover {
  cursor: pointer;
  background-color: rgb(161, 201, 138);
  padding: 0.4rem;
}
#filterShow {
  padding-top: 1.2rem;
  padding-bottom: 2rem;
  padding-right: 6.7rem;
  padding-left: 1.6rem;
  font-size: 1.2rem;
  color: rgb(117, 116, 116);
  justify-self: center;
  align-self: center;
  margin-bottom: 1.5rem;
  min-width: 80%;
}
#showFilter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
#backHomeBtn {
  max-height: 50px;
  width: auto;
  justify-self: center;
  align-self: center;
  margin-left: 1.2rem;
  background-color: white;
  border-radius: 1.5rem;
  padding: 0.5rem;
}
#backHomeBtn:hover {
  cursor: pointer;
  background-color: rgb(161, 201, 138);
  padding: 0.4rem;
}
#episodeGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}
.episode {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-color: rgb(229, 228, 228);
  border-style: outset;
}
.episode:hover {
  background-color: rgb(200, 207, 195);
}
.episodeImg {
  width: 90%;
  padding-top: 1.1rem;
}
.episodeTitle {
  padding: 1.1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 1rem;
  border-color: black;
  border-style: double;
  background-color: rgb(161, 201, 138);
}
.episodeTitle:hover {
  cursor: pointer;
  background-color: rgb(136, 192, 104);
  padding: 1.5rem;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}
.showStatus,
.showRating,
.showGenre,
.showRuntime {
  font-size: 1.5rem;
  background-color: rgb(228, 228, 228);
  padding: 1rem;
  border-radius: 1rem;
}
